@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-display: "Urbanist", sans-serif;
  --color-primary: #00A7F3
}

@layer base {
  html {
    font-family: var(--font-display);
  }
}

.hero-bg{
  background-image: url('https://i.pinimg.com/736x/b6/37/7e/b6377e4635496e95476c5c4cdbc7aaea.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}